:root{
--cor-fundo:#093738;
--cor-principal:#0fdaae;
--cor-secundaria: #32aab9;
--cor-texto: #ffffff;
--cor-destaque: #1a6363;
}

body{

  background-color: var(--cor-fundo);  
  color:var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}